{% load childrensvoice_tags static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}{% if self.seo_title == 'Home' %}Childrens Voice{% elif self.seo_title %}{{ self.seo_title }} | Childrens Voice{% else %}{{ self.title }} | Childrens Voice{% endif %}{% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300|Trocchi|Work+Sans:600,800" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/childrensvoice.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <header class="mb-4" role="header">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main class="my-4" role="main">
            {% block content %}{% endblock %}
        </main>

        <footer class="mt-4 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul class="footerLeft">
                            <li>A <a style="color: #a43f33;" target="_blank" href="https://fourfridays.com">fourfridays [BETA]</a> website.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="footerRight">
                            <li>&copy; Copyright {% now "Y" %} Childrens Voice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/childrensvoice.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
