{% load wagtailcore_tags wagtailimages_tags %}

<div class="slick-carousel">
    {% for block in self %}
        <div>
        <figure>
            {% image block.value.image fill-2560x1084-c100 as heroimage %}
            <img class="img-fluid" src="{{ heroimage.url }}" alt="{{ block.value.alternate_text }}">
            <figcaption class="p-3">
                <h2>{{ block.value.caption }}</h2>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>