{% load wagtailcore_tags wagtailimages_tags %}

{% image value.image fill-2560x1084-c100 as heroimage %}

<figure {% if value.caption and value.overlay_text is True %}class="overlay"{% endif %}>
    <img class="img-fluid" src="{{ heroimage.url }}" alt="{{ value.alternate_text }}"/>
    {% if value.caption and value.overlay_text is True %}
        <figcaption class="p-4">
            <h2>{{ value.caption }}</h2>
            {% if value.fine_print %}
                <p class="small fine-print">{{ value.fine_print }}</p>
            {% endif %}
        </figcaption>
    {% elif value.caption %}
        <figcaption class="p-3">
            <small><b>Caption:</b> {{ value.caption }}</small>
        </figcaption>
    {% endif %}
    {% if value.photo_credit %}
        <div class="photo-credit">
            <small><b>Photo:</b> {{ value.photo_credit }}</small>
        </div>
    {% endif %}
</figure>