{% if self.background_color != 'normal' %}
    <article class="full-width {{ self.background_color }}">
{% else %}
    <article>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-md-offset-1">
               {% include "includes/streamfield.html" with content=self.column only %}
            </div>
        </div>
    </div>
</article>