@import '../node_modules/bootstrap/scss/bootstrap';
/*
@import '_font-variables';
@import '../node_modules/@fortawesome/fontawesome-pro-webfonts/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-pro-webfonts/scss/fa-solid';
@import '../node_modules/@fortawesome/fontawesome-pro-webfonts/scss/fa-regular';
@import '../node_modules/@fortawesome/fontawesome-pro-webfonts/scss/fa-light';
@import '../node_modules/@fortawesome/fontawesome-pro-webfonts/scss/fa-brands';
*/
@import '../node_modules/slick-carousel/slick/slick';
@import '../node_modules/slick-carousel/slick/slick-theme';

/*********
    GLOBAL VARIABLES
    *******/
$slick-font-path: "../fonts/slick-carousel/" !default;
$brand-primary: #f4d03f;
$brand-secondary: #4B77BE;
$brand-tertiary: #4b4b4b;

body {
    font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4 , h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #515151;
}

.btn-primary {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    background-color: $brand-secondary;
}


/*********
    HEADER
    *******/
nav {
    font-weight: bold;
    a {
        &.navbar-brand {
            text-transform: uppercase;
            font-family: 'Trocchi', serif;
            border-right: 2px solid white;
            &:hover {
                color: #ffffff !important;
            }
        }
    }
    .nav-item {
        a {
            text-transform: capitalize;
            color: #ffffff !important;
        }
        &.active a, a:hover {
            color: #000000 !important;
        }
    }
}


/*********
    MAIN CONTENT
    *******/
/* Hero Images and Slick Carousel */
.block-hero_image, .slick-carousel {
    figure, figure.overlay {
        position: relative; 
        width: 100%; /* for IE 6 */
    }
    .slick-prev {
        left: 10px;
        z-index: 1;
    }
    .slick-next {
        right: 10px;
    }
    figcaption {
        max-width: 30%;
        background-color: rgba($brand-primary, 0.3);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        h2 {
            color: #ffffff;
            font-size: 1.7rem;
            letter-spacing: -0.03rem;
            margin-bottom: 0;
            position: relative;
            top: 15%;
        }
        p.fine-print {
            color: #d2d2d2;
            line-height: 1rem;
            margin-top: 4px;
        }
    }
    .photo-credit {
        position: absolute; /* absolute position (so we can position it where we want)*/
        bottom: 0; /* position will be on bottom */
        width: auto;
        right: 0;
        padding: 4px;
        background-color: #000;
        color: #fff;
        opacity: 0.5; /* transparency */
        filter: alpha(opacity=50); /* IE transparency */
    }
}

/*********
    FOOTER
    *******/
footer {
    background-color: rgba($brand-tertiary, 1);
    color: #ECF0F1;
    ul {
        list-style: none;
        &.footerRight {
            text-align: right;
        }
    }
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
/*********
    NAVIGATION
    *******/
    nav {
        .navbar-toggler {
            font-size: 1rem;
        }
        .nav-link {
            padding-left: 1rem !important;
            padding-top: 0;
        }
    }
/*********
    HERO IMAGE AND SLICK CAROUSEL
    *******/
    .block-hero_image, .slick-carousel {
        figure, figure.overlay {
            figcaption {
                padding: 6px; 
                h2 {
                    top: 0;
                    font-size: 1.2rem;
                }
                p.fine-print {
                    font-size: 0.6rem;
                }
            }
            .photo-credit {
                font-size: 95%;
            }
        }
    }
/*********
    FOOTER
    *******/
    footer {
        ul {
            &.footerLeft {
                text-align: center;
                padding: 0;
                li {
                    float: none;
                    display: inline-block;
                }
            }
            &.footerRight {
                text-align: center;
                padding: 0;
            }
        }
    }
}


/* Landscape phones and down */
@media (max-width: 525px) {
/*********
    HERO IMAGE AND SLICK CAROUSEL
    *******/
    .block-hero_image, .slick-carousel {
        figure, figure.overlay {
            figcaption {
                h2 {
                    top: -5px;
                    font-size: 0.75rem;
                }
            }
            .photo-credit {
                font-size: 65%;
                padding: 3px;
            }
        }
    }
}